/* CONTAINER */

.tabs_class {
    border:1px solid #999;
    max-width:600px;
    width: 100%;
}

/* TABS */

.tabs_menu_wide {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #F9F9F9;
}

.tabs_menu_wide ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.tabs_menu_wide li a {
    color: #444444;
    display: block;
    float: left;
    font-weight:bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}

.tabs_menu_wide li a:hover {
    color: #7d7d7d;
    background:#FFFFFF;
}

.tabs_menu_wide li:first-child a {
    border-left:none;
}

.tabs_menu_wide li a.active {
    background:#FFFFFF;
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #FFFFFF;
}

.tabs_menu_wide li:first-child a.active {
    border:none;
    border-bottom:1px solid #FFFFFF;
}

.tabs_menu_wide li:last-child a.active {
    border:none;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #FFFFFF;
}

/* tab_content */

.tab_content {
    background:#FFF;
    padding:10px;
    display:none;
}

.tab_content.active {
    display:block;
}

.tab_content ul {
    margin:0px;
    padding:0px;
    list-style:none;
}

.tab_content li {
    display:block;
    overflow: hidden;
    border-bottom:1px solid #d6dde0;
}

.tab_content li:last-child {
    border-bottom:none;
}

.tab_content li a {
    display:block;
    list-style:none;
    overflow: hidden;
    padding:10px;
    text-decoration:none;
    color:#444444;
}

.tab_content li a:hover {
    color:#000000;
    background:#F5F5F5;
}

.tab_content li small {
    color:#AAAAAA;
    font-size:11px;
    font-style:italic;
}

.tab_content li a:hover small {
    color:#AAAAAA;
}

.tabs_menu_narrow {
    display: none;
}

.left_div {
    float:left;
    display: none;
}

.right_div {
    float:right;
    display: none;
}

.right_div img {
    float:right;
    display: none;
}

@media screen and (max-width: 500px) {
    .tabs_menu_narrow {
        display:block;
    }

    .left_div {
        float:left;
        cursor: pointer;
        display:block;
    }

    .right_div {
        float:right;
        cursor: pointer;
        display:block;
    }

    .right_div img {
        float:right;
        display:block;
    }

    .tabs_menu_wide li a {
        color: #444444;
        display: block;
        float: left;
        font-weight:bold;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border:none;
        border-left:1px solid #d9d9d9;
        border-bottom:1px solid #d9d9d9;
        width:100%;
        display:none;
    }

}